//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
}
html, body {
  height: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
body {
	font-family: 'Verdana', sans-serif;
	color: #000;
	background: #000;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -294px;
}
#wrapper:after {
  content: "";
  display: block;
}
footer, #wrapper:after {
	height: 294px;
}
.inner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
header {
	width: 100%;
	min-width: 1000px;
	
	.inner {
		background: url('../img/bgheader.png') no-repeat center center;
	}

	#logo {
		display: block;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: 15px;
		float: left;
		width: 165px;
		height: 105px;
		background: url('../img/logo.png') no-repeat;
	}
	/*.banner-top {
		float: left;
		margin-left: 60px;
		margin-top: 50px;
	}*/
}
#content {

	.inner {
		background: #fff;
	}

	#menutop {
		background: url('../img/bgmenu.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		ul {
			text-align: center;
			padding-top: 6px;
			padding-bottom: 8px;

			li {

				display: inline-block;
				margin-right: -4px;
				vertical-align: top;

				a {
					padding: 8px 15px;
					font-size: 12px;
					color: #fff;
				}
				a:hover {
					background: #fbd301;
					color: #000;
				}
			}
		}
	}

	.breadcrumbs {
		margin-top: 15px;
		margin-left: 30px;

		ul {

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 0px;

				&:after {
					content: '/';
					color: #b6b6aa;
					margin-left: 6px;
				}
				&:last-child:after {
					content: none;
				}
				a {
					font-size: 14px;
					color: #b6b6aa;
				}
				a:hover {
					color: darken(#b6b6aa, 20%)
				}
			}
		}
	}

	#leftcol, #rightcol {
		float: left;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	#leftcol {
		width: 240px;

		#search {
			margin-left: 30px;

			* {
				float: left;
				outline: none;
			}
			input[type=text] {
				font-family: 'Verdana', sans-serif;
				width: 120px;
				border: none;
				background: url('../img/bgsearch.png') no-repeat left bottom;
				-webkit-background-size: 100%;
				background-size: 100%;
				padding-bottom: 2px;
				padding-left: 2px;
				padding-right: 5px;
				font-size: 14px;
				color: #b6b6aa;
			}
			input[type=submit] {
				padding: 0;
				border: none;
				background: url('../img/search.png') no-repeat center center;
				width: 19px;
				height: 19px;
			}
			input[type=submit]:hover {
				cursor: pointer;
			}
		}
		#menuleft {
			margin-top: 40px;

			h1 {
				margin-bottom: 15px;
				font-size: 30px;
				color: #777;
				margin-left: 30px;
				width: 135px;
			}
			ul {
				margin-left: 20px;

				li {
					margin-bottom: 10px;
					a {
						font-size: 14px;
						color: #777;
						padding: 5px 10px;
					}
					a:hover {
						color: #3c3c3c;
						background: #f8e201;
					}
				}
			}
			.opened {
				color: #000;
			}
			ul.second-level {
				display: none;
				margin-top: 10px;
				margin-bottom: 10px;
				margin-left: 0;

				li {
					margin-left: 5px;
					a {
						font-size: 12px;
					}
				}
			}
		}
		.banners-left {
			margin-top: 25px;
			margin-left: 30px;

			.banner {
				width: 150px;
				height: auto;
				margin-bottom: 10px;
			}
		}
		#add-links {
			margin-top: 20px;
			margin-left: 30px;

			a {
				display: block;
				text-align: center;
				width: 150px;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 10px;
				background: #f6e300;
				color: #474747;
			}
			a:hover {
				color: #777;
			}
		}
	}
	#rightcol {
		width: 720px;
		padding-right: 40px;

		.article-block {
			margin-bottom: 35px;

			h1 {
				font-size: 24px;

				a {
					color: #000;
				}
				a:hover {
					color: #3c3c3c;
				}
			}
			img {
				width: 760px;
				height: auto;
				margin-top: 5px;
				margin-bottom: 5px;
			}
			img.float-l {
				width: 200px;
				height: 130px;
				float: left;
				margin-right: 10px;
			}
			.float-l + .article-content {
				margin-top: 0;
			}
			.date {
				font-size: 12px;
				color: #9a9a9a;
				margin-top: 10px;
			}
			.article-content {
				margin-top: 10px;
				text-align: center;

				p {
					text-align: left;
					font-size: 14px;
					line-height: 20px;
					color: #000;
				}
				iframe {
					margin-top: 15px;
				}
			}
			.more {
				margin-top: 15px;
				font-size: 14px;
				display: block;
				width: 125px;
				padding-left: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: #000;
				background: url('../img/bgbutton.png') no-repeat 105px 9px #f3ff8a;
			}
			.more:hover {
				background: url('../img/bgbutton.png') no-repeat 105px 9px #f6e300;
			}
		}
		.contacts-block {

			.contactcol {
				margin-top: 20px;
				display: inline-block;
				width: 50%;
				margin-right: -4px;

				p {
					font-size: 14px;
					padding-left: 30px;
					color: #777;
					margin-bottom: 15px;
					height: 20px;
				}
				.phone {
					background: url('../img/phone.png') left center no-repeat;
				}
				.velcom {
					background: url('../img/velcom.png') left center no-repeat;
				}
				.mts {
					background: url('../img/mts.png') left center no-repeat;
				}
				.email {
					background: url('../img/email.png') left center no-repeat;
				}
			}
		}
		#pagination {
			margin-bottom: 30px;

			ul {
				text-align: center;

				li {
					display: inline-block;
					margin-right: 0;
					vertical-align: top;
					color: #777;

					a {
						font-size: 14px;
						color: #777;
						padding: 5px 5px;
					}
					a:hover, a.current {
						color: #3c3c3c;
						background: #f6e300;
					}
				}
			}
		}
		#otherc-links {
			margin-top: 30px;

			img {
				width: 25px;
				height: 15px;
			}
		}
		.connected-carousels .stage {
		    position: relative;
		}
		.connected-carousels .navigation {
		    width: 730px;
		    margin: 5px auto;
		    position: relative;
		}
		.connected-carousels .carousel {
		    overflow: hidden;
		    position: relative;
		}
		.connected-carousels .carousel ul {
		    width: 20000em;
		    position: relative;
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}
		.connected-carousels .carousel li {
		    float: left;
		}
		.connected-carousels .carousel-navigation li {
		    cursor: pointer;
		}
		.connected-carousels .carousel-navigation li img {
		    display: block;
		}
		.connected-carousels .prev-stage,
		.connected-carousels .next-stage {
		    display: block;
		    position: absolute;
		    top: 0;
		    width: 305px;
		    height: 410px;
		    color: #fff;
		}
		.connected-carousels .prev-navigation,
		.connected-carousels .next-navigation {
		    display: block;
		    position: absolute;
		    width: 20px;
		    height: 30px;
		    text-indent: -9999px;
		}

		.connected-carousels .prev-navigation {
		    left: -25px;
		    top: 22px;
		    background: url('../img/sl.png') no-repeat;
		}

		.connected-carousels .next-navigation {
		    right: -25px;
		    top: 22px;
		    background: url('../img/sr.png') no-repeat;
		}

		.connected-carousels .prev-navigation.inactive,
		.connected-carousels .next-navigation.inactive {
		    opacity: .3;
		    cursor: default;
		}
		.carousel.carousel-navigation {

			li {
				margin-right: 14px;
				border: 1px solid transparent;

				&.active {
					border: 1px solid #777;
				}
				img {
					width: 125px;
					height: 70px;
					margin: 0;
				}
			}

		}
	}
}
#feedback {

	.inner {
		background: #f4f7e8;
		border-bottom: 4px solid #eee;
	}
	.feedback-inner {
		width: 425px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 35px;
		padding-bottom: 35px;
	}

	form {
		* {
			outline: none;
			font-family: 'Verdana';
			color: #777;
		}
		h1 {
			font-size: 24px;
			color: #777;
			text-align: center;
			margin-bottom: 20px;
		}
		input[type=text], input[type=email] {
			width: 340px;
			padding: 5px;
			border: 1px dashed #777;
			border-radius: 2px;
		}
		.label {
			margin-right: 10px;
		}
		.label, .label + input {
			margin-bottom: 10px;
		}
		span span, p span {
			color: #af0000;
		}
		span, p {
			color: #777;
		}
		.label.label2 {
			margin-right: 3px;
		}
		.label3 + input {
			width: 205px;
		}
		textarea {
			margin-top: 20px;
			width: 405px;
			padding: 5px;
			border: 1px dashed #777;
			border-radius: 2px;
			resize: none;
		}
		p {
			margin-top: 5px;
			margin-left: 15px;
			font-size: 12px;
		}
		input[type=submit] {
			width: 180px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border: none;
			margin-top: 30px;
			background: #f3ff8a;
			color: #000;
		}
		input[type=submit]:hover {
			background: #f6e300;
		}
	}
}
footer {
	width: 100%;
	min-width: 1000px;

	.inner {
		background: url('../img/bgfooter.png') no-repeat center bottom #fff;
		padding-bottom: 45px;
	}

	#logo {
		display: block;
		margin-top: 30px;
		margin-left: 15px;
		float: left;
		width: 165px;
		height: 105px;
		background: url('../img/logo.png') no-repeat;
	}
	#menubottom {
		float: left;
		margin-top: 30px;
		margin-left: 45px;

		.menucol {
			display: inline-block;
			width: 180px;
			vertical-align: top;
			margin-right: 0;

			li {
				margin-bottom: 10px;

				a {
					font-size: 11px;
					color: #777;
					padding: 5px 10px;
				}
				a:hover {
					background: #f6e300;
					color: #3c3c3c;
				}
			}
		}
		.menucol:last-child {
			margin-right: -4px;
		}
	}
	#contacts {
		float: left;
		width: 210px;
		margin-top: 30px;
		text-align: right;

		p {
			text-align: left;
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 10px;
			color: #777;
		}
	}
	#copyrights {
		margin-top: 45px;
		text-align: center;

		p {
			font-size: 11px;
			color: #777;
		}
	}
}